@import url("https://fonts.googleapis.com/css?family=PT+Mono|Quicksand:400,700&display=swap");

body,
html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #F5F5F5;
    font-family: "Quicksand", sans-serif;
}

img {
    max-width: 100%;
}

.Checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card {
    width: 28.68rem;
    height: 18.194rem;
    border-radius: 0.9rem;
    background: linear-gradient(110deg, #707070 60%, #ff0000 60%);
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;
    position: relative;
    box-shadow: 2px 2px 8px 0 rgba(15, 22, 38, 0.05), 0 0 64px 0 rgba(15, 22, 38, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease-in-out;
    transform: translate(0, 4rem);
}

.Card .card-chip {
    width: 4.5em;
    height: 3em;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    border-radius: 0.3em;
    background: linear-gradient(135deg, #dadada, gold 120%);
}

.Card .card-logo {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 2em;
    font-weight: 700;
    line-height: 0.9em;
    text-align: right;
}

.Card .card-number {
    position: absolute;
    top: 6.5rem;
    left: 1rem;
}

.Card .card-number div {
    font-size: 2.9em;
}

.Card .card-holder {
    position: absolute;
    top: 10rem;
    left: 1rem;
}

.Card .card-date {
    position: absolute;
    top: 14.2rem;
    left: 1rem;
}

.Card .card-strip {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 5em;
    position: absolute;
    top: 4em;
}

.Card .card-logo-back {
    position: absolute;
    top: 12rem;
    right: 1.5rem;
    font-size: 2em;
    font-weight: 700;
    line-height: 0.9em;
    text-align: right;
}

.Card .card-code {
    position: absolute;
    Top: 14rem;
    left: 1rem;
}

.Card .mono {
    font-family: "PT Mono", monospace;
    font-size: 2em;
}

.Card .name {
    min-height: 25px;
    margin: 3px 0 0 0;
    max-width: 300px;

}

.Card .front,
.Card .back {
    transition: opacity 0s linear 0.2s, transform 0s linear 0.2s;
}

.Card .back {
    opacity: 0;
}

.Card:hover {
    transform: translate(0, 4rem) scale(-1, 1);
}

.Card:hover .front {
    opacity: 0;
}

.Card:hover .back {
    opacity: 1;
    transform: scale(-1, 1);
}

.Form {
    background: white;
    box-shadow: 2px 2px 8px 0 rgba(15, 22, 38, 0.05), 0 0 64px 0 rgba(15, 22, 38, 0.1);
    padding: 4rem 2rem 2rem 2rem;
    width: 40rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Form .Input {
    margin-top: 1rem;
}

.Form .Input label {
    display: block;
    margin-bottom: 0.25rem;
}

.Form .Input input {
    outline: none;
}

.Form .Input input[type=text],
.Form .Input input[type=number] {
    font-family: inherit;
    font-size: 1.2em;
    padding: 0.3em;
    border: #ccc 1px solid;
    border-radius: 3px;
    width: 38rem;
}

.Form .Input input[type=text]::-webkit-inner-spin-button,
.Form .Input input[type=text]::-webkit-outer-spin-button,
.Form .Input input[type=number]::-webkit-inner-spin-button,
.Form .Input input[type=number]::-webkit-outer-spin-button {
    margin: 0;
}

.Form .Input select {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none !important;
    top: 6px;
    left: 6px;
    background: none;
    font-family: inherit;
    font-size: 1.2em;
    padding: 0.3em;
    border: #ccc 1px solid;
    border-radius: 3px;
    min-width: 5em;
    margin-right: 1em;
}

.Form .Input input {
    margin-right: 1.2em;
}

.Form .row {
    display: flex;
    width: 100%;
}

.Form .row input {
    width: 2.9em !important;
    align-self: flex-end;
}

.Form button {
    width: 100%;
    background: #ff1e00;
    border: 0;
    color: white;
    font-family: inherit;
    font-weight: 700;
    margin: 1.5rem 0 0 0;
    padding: 1rem 0;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
    transition: all 0.3s;
}

.Form button:hover {
    background: #cf1800;
}

.Form button:active {
    background: rgb(70, 70, 70);
}

.Pay-systems {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pay-s img {
    border-radius: 10px;
}

.pay-s {
    padding: 2px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    transition: 0.2s all;
}
.pay-s-logo{
    width: 17%;
    border-radius: 5px;
}
.active{
    opacity: 1;
}